SECRET_KEY=secretkey
REFRESH_SECRET_KEY=refreshsecretkey

DATABASE_NAME=sparee_test_db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=postgres
DATABASE_PORT=5432

MAPBOX_API_KEY='UPDATE_WITH_YOUR_MAPBOX_API_KEY'
