services:
    redis:
        image: redis:7
        platform: linux/arm64
        ports:
            - '6379:6379'

    web:
        build: .
        command: uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload
        volumes:
            - ./:/app
        working_dir: /app
        env_file: .env
        environment:
            - DEBUG=true
            - REDIS_URL=redis://redis:6379/0
            - PYTHONPATH=/app
        depends_on:
            - redis
            - postgres
        ports:
            - '5001:5000'

    worker:
        build: .
        command: python -m app.workers.worker
        volumes:
            - ./:/app
        working_dir: /app
        env_file: .env
        environment:
            - REDIS_URL=redis://redis:6379/0
        depends_on:
            - redis

    postgres:
        image: postgis/postgis:15-3.4
        restart: always
        environment:
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_USER: ${DATABASE_USER}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        ports:
            - '5432:5432'
