services:
    redis:
        image: redis:7
        ports:
            - '6379:6379'

    web:
        build: .
        command: python run.py
        env_file: .env
        environment:
            - REDIS_URL=redis://redis:6379/0
        depends_on:
            - redis
            - postgres
        ports:
            - '5001:5000'

    worker:
        build: .
        command: python worker.py
        env_file: .env
        environment:
            - REDIS_URL=redis://redis:6379/0
        depends_on:
            - redis

    postgres:
        image: postgis/postgis:15-3.4
        restart: always
        environment:
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_USER: ${DATABASE_USER}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        ports:
            - '5432:5432'
